---
import Layout from "../Layout.astro";
import Button from "../Button.astro";
---

<Layout>
  <p>my name is alex/chxry/floppa and i like to program computers.</p>
  <p>i write code in rust whenever i can, but also know c, c# and typescript.</p>
  <p>i use macos/artix linux with dwm, alacritty, fish and helix. i'm also trying out nixos.</p>
  <p>
    most of my projects can be found at <a class="underline" href="https://github.com/gosher-studios">gosher-studios</a
    >.
  </p>
  <div class="space-x-1 *:underline">
    <a class="text-red" href="/blog">blog</a>
    <a class="text-peach" href="/keys">keys</a>
    <a class="text-yellow" href="https://github.com/chxry">github</a>
    <a class="text-green" href="https://discord.com/users/402534581695283200">discord</a>
    <a class="text-blue" href="https://tech.lgbt/@floppa" rel="me">fedi</a>
    <a class="text-mauve" href="mailto:floppa9@proton.me">email</a>
  </div>
  <div class="flex flex-wrap justify-center md:justify-start">
    <Button href="https://chxry.github.io" src="/chxry.gif" />
    <Button href="https://slonk.ing" src="/slonk.gif" />
    <Button href="https://fxo.lol" src="/pndrs.png" />
    <Button href="https://eightyeightthirty.one" src="/8831.png" />
    <Button src="/queer.gif" alt="queer pride" />
    <Button src="/enby.gif" alt="non-binary pride" />
    <Button href="https://artixlinux.org" src="/artix.gif" />
    <Button href="https://helix-editor.com" src="/helix.png" />
    <Button href="https://mozilla.org/firefox" src="/firefox.gif" />
    <Button href="https://catppuccin.com" src="/cat.png" />
    <Button src="/torrent.gif" alt="seed your torrents!" />
    <Button src="/nft.gif" alt="this is an anti-nft site" />
    <Button
      href="https://en.wikipedia.org/wiki/Embrace,_extend,_and_extinguish"
      src="/hatems.gif"
      alt="i hate microsoft"
    />
    <Button href="https://ublockorigin.com" src="/ublock.png" />
    <Button src="/rights.gif" alt="trans rights now!" />
    <Button href="https://wikipedia.org" src="/wikipedia.gif" />
  </div>
</Layout>
