---
import Layout from "../Layout.astro";
import ssh from "../id_floppa.pub?raw";
import pgp from "../floppa.asc?raw";
---

<Layout title="keys">
  <h2 class="text-lg">ssh:</h2>
  <pre class="text-sm text-subtext0">{ssh}</pre>
  <h2 class="text-lg">pgp:</h2>
  <pre class="text-sm text-subtext0">{pgp}</pre>
</Layout>
