@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    width: 88px;
    height: 31px;
    @apply md:mt-1 md:mr-1;
  }

  .bg-dots {
    background: rgb(var(--ctp-base));
    background-image: radial-gradient(rgb(var(--ctp-surface2)) 1px, transparent 0);
    background-size: 40px 40px;
    @media not prefers-reduced-motion {
      animation-name: move;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
  }

  @keyframes move {
    from {
      background-position: 0px 0px;
    }
    to {
      background-position: 40px 40px;
    }
  }
}
