@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Poppins:wght@700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    width: 88px;
    height: 31px;
    @apply mr-1 mt-1 md:mr-2 md:mt-2;
  }

  .bg-dots {
    background: rgb(var(--ctp-base));
    background-image: radial-gradient(rgb(var(--ctp-surface2)) 1px, transparent 0);
    background-size: 40px 40px;
    @media not prefers-reduced-motion {
      animation-name: move;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
  }

  .system {
    @apply latte dark:mocha;
    @media (prefers-color-scheme: dark) {
      code span {
        color: var(--shiki-dark) !important;
      }
    }
  }

  .light {
    @apply latte;
  }

  .dark {
    @apply mocha;
    code span {
      color: var(--shiki-dark) !important;
    }
  }

  .blog {
    h1,
    h2 {
      @apply text-3xl mb-2;
    }

    h3,
    h4 {
      @apply text-2xl mb-1;
    }

    h5,
    h6 {
      @apply text-xl mb-0.5;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply font-bold before:text-lavender before:mr-2 before:content-["#"];
    }

    p {
      @apply mb-2;
    }

    ul {
      @apply list-disc list-inside;
    }

    ol {
      @apply list-decimal list-inside;
    }

    a {
      @apply underline text-lavender;
    }

    hr {
      @apply my-2 border-t-2 border-overlay2;
    }

    blockquote {
      @apply border-l-4 border-overlay2 text-overlay2 my-4 pl-4;
    }

    pre {
      @apply text-subtext0 !bg-mantle p-2 rounded-md text-sm font-jetbrains;
    }

    code span:empty {
      @apply hidden;
    }

    pre {
      @apply my-2;
    }
  }

  @keyframes move {
    from {
      background-position: 0px 0px;
    }
    to {
      background-position: 40px 40px;
    }
  }
}
