---
import "./base.css";

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>chxry</title>
    <link rel="icon" href="/icon.png" type="image/png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="mocha bg-dots text-text font-mono text-sm md:text-[1rem] md:leading-6 relative">
    <div class="max-w-[50rem] mx-auto p-2 md:p-6 min-h-screen">
      <h1 class="font-extrabold text-5xl md:text-7xl mb-2">
        <img class="inline h-[1em] mr-2 rounded-sm" src="/icon.png" />chxry
      </h1>
      {title && <h1 class="text-3xl font-bold">{title}:</h1>}
      <slot />
      {
        title && (
          <a href="/" class="underline text-blue">
            ← back to home
          </a>
        )
      }
      <p class="absolute bottom-2 text-sm text-subtext0">
        pfp: <a class="underline" href="https://twitter.com/urct">urct</a>
      </p>
    </div>
    <script src="/oneko/oneko.js" data-cat="/oneko/oneko.gif"></script>
  </body>
</html>
